Repository microsoft/azuredatastudio, changes with the owners that .github/CODEOWNERS names for each.
All owners: @swells, @kburtram, @aasimkhan30, @caohai, @laurenastrid1, @lewis-sanchez, @benjin, @llali, @zijchen, @ssreerama, @azure-data-studio-notebook-devs, @vasubhog, @Charles-Gagnon, @chlafreniere, @MaddyDev, @akshika898, @JyotikaGargg, @shilpimitra, @Shiwani-K, @radheyshah

Adding SQL Server 2025 support to the SQL Projects (#26442)
  extensions/sql-database-projects/CHANGELOG.md
  extensions/sql-database-projects/src/common/constants.ts
  extensions/sql-database-projects/src/sqldbproj.d.ts
Owners: @ssreerama, @llali, @zijchen

Adding SQL Server 2025 support to the SQL Projects (#26442)
  extensions/sql-database-projects/CHANGELOG.md
  extensions/sql-database-projects/src/common/constants.ts
  extensions/sql-database-projects/src/sqldbproj.d.ts
Owners: @ssreerama, @llali, @zijchen

version bump for STS
  extensions/mssql/config.json
Owners: @kburtram, @benjin, @lewis-sanchez

vBump sdk to 2.0 and scriptDom vBump (#26440) (#26441)
  extensions/sql-database-projects/README.md
  extensions/sql-database-projects/resources/templates/newSdkSqlProjectTemplate.xml
  extensions/sql-database-projects/src/controllers/projectController.ts
  extensions/sql-database-projects/src/tools/buildHelper.ts
Owners: @ssreerama, @llali, @zijchen

Merge branch 'main' into sai/vscodePublishDialog and adding publish preview option
  extensions/sql-database-projects/package.json
  extensions/sql-database-projects/package.nls.json
  extensions/sql-database-projects/src/controllers/mainController.ts
  extensions/sql-database-projects/src/controllers/projectController.ts
Owners: @ssreerama, @llali, @zijchen

code revview comment updates
  extensions/sql-database-projects/package.nls.json
  extensions/sql-database-projects/src/controllers/mainController.ts
  extensions/sql-database-projects/src/controllers/projectController.ts
Owners: @ssreerama, @llali, @zijchen

making publish oreview visible on vscode enable feature
  extensions/sql-database-projects/package.json
Owners: @ssreerama, @llali, @zijchen

publish option should not be accessed from command pallet, same for preview
  extensions/sql-database-projects/package.json
Owners: @ssreerama, @llali, @zijchen

Adding Publish (Preview) menu option for vscode publish dialog (#26451)
  extensions/sql-database-projects/package.json
  extensions/sql-database-projects/package.nls.json
  extensions/sql-database-projects/src/common/constants.ts
  extensions/sql-database-projects/src/controllers/mainController.ts
  extensions/sql-database-projects/src/controllers/projectController.ts
Owners: @ssreerama, @llali, @zijchen

Adding Publish (Preview) menu option for vscode publish dialog (#26451)
  extensions/sql-database-projects/package.json
  extensions/sql-database-projects/package.nls.json
  extensions/sql-database-projects/src/common/constants.ts
  extensions/sql-database-projects/src/controllers/mainController.ts
  extensions/sql-database-projects/src/controllers/projectController.ts
Owners: @ssreerama, @llali, @zijchen

Adding Publish (Preview) menu option for vscode publish dialog (#26451) (#26453)
  extensions/sql-database-projects/package.json
  extensions/sql-database-projects/package.nls.json
  extensions/sql-database-projects/src/common/constants.ts
  extensions/sql-database-projects/src/controllers/mainController.ts
  extensions/sql-database-projects/src/controllers/projectController.ts
Owners: @ssreerama, @llali, @zijchen

changelog udpate
  extensions/sql-database-projects/CHANGELOG.md
Owners: @ssreerama, @llali, @zijchen

vBump STS version from '5.0.20250715.3' to '5.0.20251029.3 (#26450)
  extensions/mssql/config.json
  extensions/sql-database-projects/CHANGELOG.md
Owners: @kburtram, @benjin, @lewis-sanchez, @ssreerama, @llali, @zijchen

vBump STS version from '5.0.20250715.3' to '5.0.20251029.3
  extensions/mssql/config.json
  extensions/sql-database-projects/CHANGELOG.md
Owners: @kburtram, @benjin, @lewis-sanchez, @ssreerama, @llali, @zijchen

[PORT] Adding SQL Server 2025 support to the SQL Projects (#26449)
  extensions/mssql/config.json
  extensions/sql-database-projects/CHANGELOG.md
  extensions/sql-database-projects/src/common/constants.ts
  extensions/sql-database-projects/src/sqldbproj.d.ts
Owners: @kburtram, @benjin, @lewis-sanchez, @ssreerama, @llali, @zijchen

check for shared MSSQL preview config flag
  extensions/sql-database-projects/src/common/constants.ts
  extensions/sql-database-projects/src/controllers/projectController.ts
Owners: @ssreerama, @llali, @zijchen

package.json flags
  extensions/sql-database-projects/package.json
Owners: @ssreerama, @llali, @zijchen

SqlProjects: Checking `mssql.enableExperimentalFeatures` for whether to use new dialog (#26454)
  extensions/sql-database-projects/package.json
  extensions/sql-database-projects/src/common/constants.ts
  extensions/sql-database-projects/src/controllers/projectController.ts
Owners: @ssreerama, @llali, @zijchen

SqlProjects: Checking `mssql.enableExperimentalFeatures` for whether to use new dialog (#26454)
  extensions/sql-database-projects/package.json
  extensions/sql-database-projects/src/common/constants.ts
  extensions/sql-database-projects/src/controllers/projectController.ts
Owners: @ssreerama, @llali, @zijchen

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Syntax can be found here: https://docs.github.com/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

/extensions/arc/ @swells
/extensions/azcli/ @swells
/extensions/azurecore/ @kburtram @aasimkhan30 @caohai @laurenastrid1 @lewis-sanchez @benjin
/extensions/dacpac/ @llali @zijchen @ssreerama
/extensions/import @aasimkhan30
/extensions/machine-learning @llali @zijchen @ssreerama
/extensions/notebook @azure-data-studio-notebook-devs
/extensions/schema-compare/ @llali @zijchen @ssreerama
/extensions/sql-bindings/ @vasubhog @Charles-Gagnon @chlafreniere @MaddyDev
/extensions/sql-database-projects/ @ssreerama @llali @zijchen
/extensions/sql-migration @akshika898 @JyotikaGargg @shilpimitra @Shiwani-K @radheyshah
/extensions/mssql/config.json @kburtram @benjin @lewis-sanchez

/src/sql/**/notebook @azure-data-studio-notebook-devs
