Repository microsoft/azuredatastudio, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Charles-Gagnon, @swells, @candiceye, @kisantia, @azure-data-studio-notebook-devs, @vasubhog, @lucyzhang929, @chlafreniere, @MaddyDev, @Benjin, @alanrenmsft, @kburtram

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Syntax can be found here: https://docs.github.com/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

/extensions/admin-tool-ext-win @Charles-Gagnon
/extensions/arc/ @Charles-Gagnon @swells @candiceye
/extensions/azcli/ @Charles-Gagnon @swells @candiceye
/extensions/big-data-cluster/ @Charles-Gagnon
/extensions/dacpac/ @kisantia
/extensions/notebook @azure-data-studio-notebook-devs
/extensions/query-history/ @Charles-Gagnon
/extensions/resource-deployment/ @Charles-Gagnon
/extensions/schema-compare/ @kisantia
/extensions/sql-bindings/ @vasubhog @Charles-Gagnon @lucyzhang929 @chlafreniere @MaddyDev
/extensions/sql-database-projects/ @Benjin @kisantia
/extensions/mssql/config.json @Charles-Gagnon @alanrenmsft @kburtram

/src/sql/*.d.ts @alanrenmsft @Charles-Gagnon
/src/sql/workbench/browser/modelComponents @Charles-Gagnon @alanrenmsft
/src/sql/workbench/api @Charles-Gagnon @alanrenmsft
/src/sql/**/notebook @azure-data-studio-notebook-devs

update order so connection dialog opens first if can't connect
  extensions/sql-database-projects/src/dialogs/createProjectFromDatabaseDialog.ts
Owners: @Benjin, @kisantia

Add sqlproj property to trace the origin of the project. (#18670)
  extensions/sql-database-projects/src/common/constants.ts
  extensions/sql-database-projects/src/common/utils.ts
  extensions/sql-database-projects/src/controllers/projectController.ts
  extensions/sql-database-projects/src/models/project.ts
  extensions/sql-database-projects/src/sqldbproj.d.ts
  extensions/sql-database-projects/src/test/project.test.ts
Owners: @Benjin, @kisantia

Updating readme and change log to reflect major changes in 1.36
  CHANGELOG.md
  README.md
Owners: none

Implements disposable interface for message panel and file writers
  src/sql/workbench/contrib/query/browser/fileQueryResultsWriter.ts
  src/sql/workbench/contrib/query/browser/messagePanel.ts
  src/sql/workbench/contrib/query/browser/messagesPanelQueryResultsWriter.ts
  src/sql/workbench/contrib/query/browser/queryResultsWriterFactory.ts
  src/sql/workbench/services/query/common/query.ts
Owners: none

added confirmation dialog before closing app
  src/sql/workbench/browser/editor/tableDesigner/tableDesignerInput.ts
Owners: none

[Loc] added xlf updates for 4-18-2022
  resources/xlf/en/sql-bindings.xlf
  resources/xlf/en/sql-database-projects.xlf
  resources/xlf/en/sql.xlf
Owners: none

PR comments addressed
  extensions/arc/src/localizedConstants.ts
  extensions/arc/src/ui/dashboards/controller/controllerUpgrades.ts
  extensions/arc/src/ui/dialogs/upgradeController.ts
  extensions/azcli/src/az.ts
  extensions/azcli/src/localizedConstants.ts
Owners: @Charles-Gagnon, @swells, @candiceye

Fix dotnet-interactive extension's publisher ID in recommended extensions list.
  product.json
Owners: none

Updating readme and change log to reflect major changes in 1.36 (#19138)
  CHANGELOG.md
  README.md
Owners: none

only one prompt for multiple open table designers
  src/sql/workbench/browser/editor/tableDesigner/tableDesignerInput.ts
  src/sql/workbench/services/tableDesigner/browser/tableDesignerService.ts
Owners: none

add sdk-style option to exposed sql project apis
  extensions/sql-database-projects/src/projectProvider/projectProvider.ts
  extensions/sql-database-projects/src/sqldbproj.d.ts
Owners: @Benjin, @kisantia

Updating readme and change log to reflect major changes in 1.36 (#19138)
  CHANGELOG.md
  README.md
Owners: none

Fix dotnet-interactive extension's publisher ID in recommended extensions list. (#19142)
  product.json
Owners: none

Fix publisher ID for Jupyter extension in .NET Interactive's dependency list.
  extensionsGallery-insider.json
Owners: none

Fix Jupyter publisher ID in stable gallery files.
  extensionsGallery-insider.json
  extensionsGallery.json
Owners: none

[Loc] added xlf updates for 4-18-2022 (#19140)
  resources/xlf/en/sql-bindings.xlf
  resources/xlf/en/sql-database-projects.xlf
  resources/xlf/en/sql.xlf
Owners: none

Revert insider gallery change.
  extensionsGallery-insider.json
Owners: none

Fix publisher ID for Jupyter extension in .NET Interactive's dependency list. (#19144)
  extensionsGallery-insider.json
Owners: none

Fix Jupyter publisher ID in stable gallery files. (#19145)
  extensionsGallery.json
Owners: none

add telemetry on how many projects are open
  extensions/data-workspace/package.json
  extensions/data-workspace/src/common/telemetry.ts
  extensions/data-workspace/src/services/workspaceService.ts
Owners: none

splitting code into mulitple files
  src/sql/workbench/contrib/executionPlan/browser/executionPlanComparisonEditor.ts
  src/sql/workbench/contrib/executionPlan/browser/executionPlanComparisonEditorView.ts
  src/sql/workbench/contrib/executionPlan/browser/executionPlanComparisonView.ts
  src/sql/workbench/contrib/executionPlan/browser/executionPlanFileViewCache.ts
Owners: none

Enabled Azure Arc data controller upgrade for direct and indirect mode (#19060)
  extensions/arc/src/constants.ts
  extensions/arc/src/localizedConstants.ts
  extensions/arc/src/models/miaaModel.ts
  extensions/arc/src/ui/dashboards/controller/controllerDashboard.ts
  extensions/arc/src/ui/dashboards/controller/controllerUpgrades.ts
  extensions/arc/src/ui/dialogs/upgradeController.ts
  extensions/azcli/src/api.ts
  extensions/azcli/src/az.ts
  extensions/azcli/src/localizedConstants.ts
  extensions/azcli/src/typings/az-ext.d.ts
Owners: @Charles-Gagnon, @swells, @candiceye

Fixed url browser dialog
  src/sql/workbench/services/fileBrowser/browser/urlBrowserDialog.ts
Owners: none

[Loc] update to arc and azcli xlfs
  resources/xlf/en/arc.xlf
  resources/xlf/en/azcli.xlf
Owners: none

[Loc] update to arc and azcli xlfs (#19149)
  resources/xlf/en/arc.xlf
  resources/xlf/en/azcli.xlf
Owners: none

fix activity bar icon accessibility issue
  src/sql/workbench/contrib/dataExplorer/browser/media/dataExplorer.contribution.css
  src/sql/workbench/contrib/notebook/browser/media/notebook.contribution.css
Owners: @azure-data-studio-notebook-devs

use state
  src/sql/workbench/contrib/dataExplorer/browser/media/dataExplorer.contribution.css
  src/sql/workbench/contrib/notebook/browser/media/notebook.contribution.css
Owners: @azure-data-studio-notebook-devs

Shows query execution started and finished messages in message panel
  src/sql/workbench/contrib/query/browser/fileQueryResultsWriter.ts
  src/sql/workbench/contrib/query/browser/messagePanel.ts
  src/sql/workbench/contrib/query/browser/queryResultsWriterFactory.ts
Owners: none

WIP
  extensions/sql-migration/src/api/utils.ts
  extensions/sql-migration/src/dialog/createSqlMigrationService/createSqlMigrationServiceDialog.ts
  extensions/sql-migration/src/dialog/selectMigrationService/selectMigrationServiceDialog.ts
  extensions/sql-migration/src/models/stateMachine.ts
  extensions/sql-migration/src/wizard/databaseBackupPage.ts
  extensions/sql-migration/src/wizard/integrationRuntimePage.ts
  extensions/sql-migration/src/wizard/targetSelectionPage.ts
Owners: none

fix activitybar icon focus style (#19150)
  src/sql/workbench/contrib/dataExplorer/browser/media/dataExplorer.contribution.css
  src/sql/workbench/contrib/notebook/browser/media/notebook.contribution.css
Owners: @azure-data-studio-notebook-devs

format
  src/sql/azdata.proposed.d.ts
  src/sql/workbench/browser/designer/designer.ts
  src/sql/workbench/browser/designer/designerActions.ts
  src/sql/workbench/browser/designer/interfaces.ts
Owners: @alanrenmsft, @Charles-Gagnon

Add smoke test for converting from Rich Text to Markdown.
  test/automation/src/sql/notebook.ts
  test/smoke/src/sql/areas/notebook/notebook.test.ts
Owners: none

Fix slashes in tags.
  test/smoke/src/sql/areas/notebook/notebook.test.ts
Owners: none

Defensive programming
  src/sql/workbench/contrib/notebook/browser/cellViews/textCell.component.ts
Owners: @azure-data-studio-notebook-devs

Revert a change.
  test/smoke/src/sql/areas/notebook/notebook.test.ts
Owners: none

Consolidate selectAllText methods.
  test/automation/src/sql/notebook.ts
Owners: none

Revert a spacing change.
  test/automation/src/sql/notebook.ts
Owners: none

add sdk-style option to exposed sql project apis (#19143)
  extensions/sql-database-projects/src/projectProvider/projectProvider.ts
  extensions/sql-database-projects/src/sqldbproj.d.ts
Owners: @Benjin, @kisantia

Add smoke test for converting from Rich Text to Markdown. (#19151)
  test/automation/src/sql/notebook.ts
  test/smoke/src/sql/areas/notebook/notebook.test.ts
Owners: none

WIP
  extensions/sql-migration/src/api/utils.ts
  extensions/sql-migration/src/constants/strings.ts
  extensions/sql-migration/src/dialog/createSqlMigrationService/createSqlMigrationServiceDialog.ts
  extensions/sql-migration/src/dialog/selectMigrationService/selectMigrationServiceDialog.ts
  extensions/sql-migration/src/wizard/databaseBackupPage.ts
  extensions/sql-migration/src/wizard/integrationRuntimePage.ts
  extensions/sql-migration/src/wizard/targetSelectionPage.ts
Owners: none
