Repository microsoft/azuredatastudio, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Charles-Gagnon, @swells, @candiceye, @cssuh, @cheenamalhotra, @kisantia, @aasimkhan30, @llali, @azure-data-studio-notebook-devs, @vasubhog, @lucyzhang929, @chlafreniere, @MaddyDev, @Benjin, @AkshayMata, @raymondtruong, @brian-harris, @junierch, @siyangMicrosoft, @alanrenmsft, @kburtram, @SakshiS-harma

Refactoring for dialog inputs
  extensions/mssql/src/objectManagement/ui/databasePropertiesDialog.ts
  extensions/mssql/src/ui/dialogBase.ts
Owners: none

handle long text cells
  src/sql/base/browser/ui/table/formatters.ts
  src/sql/workbench/contrib/query/browser/gridPanel.ts
Owners: none

making conditions for "delete" exact match for database references (#23317)
  extensions/sql-database-projects/package.json
Owners: @Benjin, @kisantia

bumping STS
  extensions/mssql/config.json
Owners: @Charles-Gagnon, @alanrenmsft, @kburtram

adding in exclude nested projectEntry test
  extensions/sql-database-projects/src/test/projectController.test.ts
Owners: @Benjin, @kisantia

cleanup
  extensions/sql-database-projects/src/test/projectController.test.ts
Owners: @Benjin, @kisantia

WIP
  src/sql/workbench/contrib/dashboard/browser/contents/webviewContent.component.ts
  src/sql/workbench/contrib/dashboard/browser/core/dashboardPage.component.ts
  src/sql/workbench/contrib/executionPlan/browser/widgets/customZoomWidget.ts
  src/sql/workbench/contrib/executionPlan/browser/widgets/highlightExpensiveNodeWidget.ts
  src/sql/workbench/contrib/executionPlan/browser/widgets/nodeSearchWidget.ts
  src/sql/workbench/contrib/modelView/browser/webview.component.ts
  src/sql/workbench/contrib/notebook/browser/calloutDialog/imageCalloutDialog.ts
  src/sql/workbench/contrib/notebook/browser/calloutDialog/linkCalloutDialog.ts
  src/sql/workbench/contrib/notebook/browser/cellViews/code.component.ts
  src/sql/workbench/contrib/notebook/browser/cellViews/linkHandler.directive.ts
  src/sql/workbench/contrib/notebook/browser/cellViews/markdownToolbar.component.ts
  src/sql/workbench/contrib/notebook/browser/cellViews/stdin.component.ts
  src/sql/workbench/contrib/notebook/browser/find/notebookFindWidget.ts
  src/sql/workbench/contrib/notebook/browser/models/notebookInput.ts
  src/sql/workbench/contrib/notebook/browser/notebookEditor.component.ts
  src/sql/workbench/contrib/notebook/browser/notebookExplorer/notebookSearch.ts
  src/sql/workbench/contrib/notebook/browser/notebookExplorer/notebookSearchWidget.ts
  src/sql/workbench/contrib/notebook/browser/notebookViews/viewOptionsModal.ts
  src/sql/workbench/contrib/notebook/test/browser/notebookViewModel.test.ts
  src/sql/workbench/contrib/notebook/test/browser/notebookViewsActions.test.ts
  src/sql/workbench/contrib/notebook/test/common/nbformat.test.ts
  src/sql/workbench/contrib/notebook/test/stubs.ts
  src/sql/workbench/contrib/webview/browser/webViewDialog.ts
  src/sql/workbench/services/dialog/test/electron-browser/dialogPane.test.ts
  src/sql/workbench/services/insights/test/electron-browser/insightsUtils.test.ts
  src/vs/editor/common/model/textModel.ts
  src/vs/workbench/contrib/terminal/browser/xterm/xtermTerminal.ts
  src/vs/workbench/test/browser/parts/editor/editorInput.test.ts
Owners: @azure-data-studio-notebook-devs

handle long text cells (#23320)
  src/sql/base/browser/ui/table/formatters.ts
  src/sql/workbench/contrib/query/browser/gridPanel.ts
Owners: none

Fixing and enabling some Projects tests (#23261)
  extensions/mssql/config.json
  extensions/sql-database-projects/src/test/projectController.test.ts
Owners: @Charles-Gagnon, @alanrenmsft, @kburtram, @Benjin, @kisantia

Populate azure dropdowns
  extensions/mssql/src/mssql.d.ts
  extensions/mssql/src/objectManagement/ui/databaseDialog.ts
Owners: none

Use new serialized object
  extensions/mssql/src/mssql.d.ts
  extensions/mssql/src/objectManagement/ui/databaseDialog.ts
Owners: none

Set default values for other fields
  extensions/mssql/src/objectManagement/ui/databaseDialog.ts
Owners: none

address pr comments
  extensions/admin-tool-ext-win/package.json
  extensions/mssql/src/mssql.d.ts
  extensions/mssql/src/objectManagement/commands.ts
  extensions/mssql/src/objectManagement/objectManagementService.ts
  extensions/mssql/src/objectManagement/ui/objectPropertiesDialog.ts
  extensions/mssql/src/ui/dialogBase.ts
Owners: @Charles-Gagnon

add launch ssms dialog command
  extensions/admin-tool-ext-win/package.json
Owners: @Charles-Gagnon

handle Excel limits
  src/sql/workbench/contrib/query/browser/actions.ts
Owners: none

handle Excel limits (#23321)
  src/sql/workbench/contrib/query/browser/actions.ts
Owners: none

Address feedback
  src/vs/platform/environment/node/argv.ts
Owners: none

Handle error cases properly
  src/sql/workbench/contrib/query/browser/queryActions.ts
  src/sql/workbench/services/connection/browser/connectionManagementService.ts
Owners: none

dsct 0.5.0 release
  extensionsGallery.json
Owners: none

Handle error cases properly (#23322)
  src/sql/workbench/contrib/query/browser/queryActions.ts
  src/sql/workbench/services/connection/browser/connectionManagementService.ts
Owners: none

dsct 0.5.0 release (#23323)
  extensionsGallery.json
Owners: none

removed properties nodeType and using database node and additional cleanup, diabling the functionality.
  extensions/admin-tool-ext-win/package.json
  extensions/mssql/package.json
  extensions/mssql/src/mssql.d.ts
  extensions/mssql/src/objectManagement/commands.ts
  extensions/mssql/src/objectManagement/localizedConstants.ts
  extensions/mssql/src/objectManagement/objectManagementService.ts
  extensions/mssql/src/objectManagement/ui/objectManagementDialogBase.ts
Owners: @Charles-Gagnon

remove the command from package.json
  extensions/mssql/package.json
Owners: none

Fixing bug where if copy duration went over 24h it would reset to 00:00:00 (#23290)
  extensions/sql-migration/src/constants/helper.ts
  extensions/sql-migration/src/dashboard/migrationDetailsTableTab.ts
Owners: @AkshayMata, @raymondtruong, @brian-harris, @junierch, @siyangMicrosoft

Adding status message for connection and connection group deletion.
  src/sql/workbench/services/objectExplorer/browser/connectionTreeAction.ts
Owners: none

Test
  src/sql/workbench/contrib/commandLine/electron-browser/commandLine.ts
  src/vs/platform/environment/common/argv.ts
  src/vs/platform/environment/node/argv.ts
Owners: none

WIP
  src/sql/base/browser/ui/table/plugins/headerFilter.plugin.ts
  src/sql/platform/actions/browser/menuEntryActionViewItem.ts
  src/sql/platform/theme/common/styler.ts
  src/sql/platform/theme/common/vsstyler.ts
  src/sql/workbench/browser/designer/designer.ts
  src/sql/workbench/browser/modal/optionsDialog.ts
  src/sql/workbench/common/styler.ts
  src/sql/workbench/contrib/assessment/test/browser/asmtActions.test.ts
  src/sql/workbench/contrib/notebook/browser/calloutDialog/imageCalloutDialog.ts
  src/sql/workbench/services/connection/browser/connectionWidget.ts
  src/vs/base/common/codicons.ts
  src/vs/base/common/themables.ts
  src/vs/editor/common/languages/defaultDocumentColorsComputer.ts
  src/vs/editor/contrib/dropOrPasteInto/browser/defaultProviders.ts
  src/vs/workbench/api/browser/mainThreadLanguageFeatures.ts
  src/vs/workbench/api/browser/mainThreadTerminalService.ts
  src/vs/workbench/api/common/extHostChat.ts
  src/vs/workbench/api/common/extHostInteractiveEditor.ts
  src/vs/workbench/api/common/extHostLanguageFeatures.ts
  src/vs/workbench/api/common/extHostTerminalService.ts
  src/vs/workbench/api/test/browser/mainThreadManagedSockets.test.ts
  src/vs/workbench/browser/parts/editor/editorCommands.ts
  src/vs/workbench/browser/parts/editor/editorDropTarget.ts
  src/vs/workbench/contrib/chat/browser/chatWidget.ts
  src/vs/workbench/contrib/chat/common/chatServiceImpl.ts
  src/vs/workbench/contrib/debug/browser/debugHover.ts
  src/vs/workbench/contrib/editSessions/browser/editSessionsStorageService.ts
  src/vs/workbench/contrib/extensions/browser/extensionEditor.ts
  src/vs/workbench/contrib/extensions/browser/extensions.contribution.ts
  src/vs/workbench/contrib/extensions/browser/extensionsActions.ts
  src/vs/workbench/contrib/extensions/browser/extensionsList.ts
  src/vs/workbench/contrib/extensions/browser/extensionsViewlet.ts
  src/vs/workbench/contrib/extensions/browser/extensionsViews.ts
  src/vs/workbench/contrib/notebook/browser/notebookExtensionPoint.ts
  src/vs/workbench/contrib/notebook/browser/services/notebookServiceImpl.ts
  src/vs/workbench/contrib/search/browser/searchView.ts
  src/vs/workbench/contrib/tasks/browser/terminalTaskSystem.ts
  src/vs/workbench/services/telemetry/browser/telemetryService.ts
  src/vs/workbench/services/themes/browser/workbenchThemeService.ts
  src/vs/workbench/workbench.common.main.ts
Owners: @azure-data-studio-notebook-devs

Update sql tools version
  extensions/mssql/config.json
Owners: @Charles-Gagnon, @alanrenmsft, @kburtram

Set field defaults
  extensions/mssql/src/objectManagement/ui/databaseDialog.ts
Owners: none

WIP
  src/sql/azdata.d.ts
  src/sql/base/browser/ui/dropdownList/dropdownList.ts
  src/sql/base/browser/ui/selectBox/selectBox.ts
  src/sql/base/browser/ui/table/table.ts
  src/sql/platform/browser/inputbox/inputBox.component.ts
  src/sql/platform/browser/selectBox/selectBox.component.ts
  src/sql/platform/theme/common/vsstyler.ts
  src/sql/workbench/api/common/sqlExtHostTypes.ts
  src/sql/workbench/browser/designer/designerIssuesTabPanelView.ts
  src/sql/workbench/browser/modal/optionsDialogHelper.ts
  src/sql/workbench/browser/modelComponents/button.component.ts
  src/sql/workbench/browser/modelComponents/diffeditor.component.ts
  src/sql/workbench/browser/modelComponents/dropdown.component.ts
  src/sql/workbench/browser/modelComponents/editor.component.ts
  src/sql/workbench/browser/modelComponents/inputbox.component.ts
  src/sql/workbench/browser/modelComponents/listView.component.ts
  src/sql/workbench/browser/modelComponents/modelViewInput.ts
  src/vs/base/browser/ui/dropdown/dropdown.ts
  src/vs/base/common/codicons.ts
  src/vs/server/node/serverServices.ts
  src/vs/workbench/workbench.desktop.main.ts
  src/vs/workbench/workbench.web.main.ts
Owners: @alanrenmsft, @Charles-Gagnon

Set default values
  extensions/mssql/src/objectManagement/ui/databaseDialog.ts
Owners: none

Adding status message for connection and connection group deletion. (#23325)
  src/sql/workbench/services/objectExplorer/browser/connectionTreeAction.ts
Owners: none

Fix descriptions
  src/vs/platform/environment/node/argv.ts
Owners: none

Fix broken native command line argument support (#23312)
  src/sql/workbench/contrib/commandLine/electron-browser/commandLine.ts
  src/sql/workbench/contrib/commandLine/test/electron-browser/commandLine.test.ts
  src/vs/platform/environment/common/argv.ts
  src/vs/platform/environment/node/argv.ts
Owners: none

Update default values for Owner and Collation in Create Database dialog (#23332)
  extensions/mssql/config.json
  extensions/mssql/src/objectManagement/ui/databaseDialog.ts
Owners: @Charles-Gagnon, @alanrenmsft, @kburtram

Fix resource group query filter
  extensions/azurecore/src/azureResource/providers/resourceTreeDataProviderBase.ts
Owners: @cssuh, @cheenamalhotra

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Syntax can be found here: https://docs.github.com/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

/extensions/admin-tool-ext-win @Charles-Gagnon
/extensions/arc/ @Charles-Gagnon @swells @candiceye
/extensions/azcli/ @Charles-Gagnon @swells @candiceye
/extensions/azurecore/ @cssuh @cheenamalhotra
/extensions/dacpac/ @kisantia
/extensions/datavirtualization @Charles-Gagnon
/extensions/import @aasimkhan30
/extensions/machine-learning @llali
/extensions/notebook @azure-data-studio-notebook-devs
/extensions/query-history/ @Charles-Gagnon
/extensions/resource-deployment/ @Charles-Gagnon
/extensions/schema-compare/ @kisantia
/extensions/sql-bindings/ @vasubhog @Charles-Gagnon @lucyzhang929 @chlafreniere @MaddyDev
/extensions/sql-database-projects/ @Benjin @kisantia
/extensions/sql-migration @AkshayMata @raymondtruong @brian-harris @junierch @siyangMicrosoft
/extensions/mssql/config.json @Charles-Gagnon @alanrenmsft @kburtram
/extensions/query-store/ @kisantia @Benjin @aasimkhan30 @SakshiS-harma

/src/sql/*.d.ts @alanrenmsft @Charles-Gagnon
/src/sql/workbench/browser/modelComponents @Charles-Gagnon @alanrenmsft
/src/sql/workbench/api @Charles-Gagnon @alanrenmsft
/src/sql/**/notebook @azure-data-studio-notebook-devs
