Repository microsoft/azuredatastudio, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Charles-Gagnon, @swells, @candiceye, @kisantia, @azure-data-studio-notebook-devs, @vasubhog, @lucyzhang929, @chlafreniere, @MaddyDev, @Benjin, @alanrenmsft, @kburtram

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Syntax can be found here: https://docs.github.com/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

/extensions/admin-tool-ext-win @Charles-Gagnon
/extensions/arc/ @Charles-Gagnon @swells @candiceye
/extensions/azcli/ @Charles-Gagnon @swells @candiceye
/extensions/big-data-cluster/ @Charles-Gagnon
/extensions/dacpac/ @kisantia
/extensions/notebook @azure-data-studio-notebook-devs
/extensions/query-history/ @Charles-Gagnon
/extensions/resource-deployment/ @Charles-Gagnon
/extensions/schema-compare/ @kisantia
/extensions/sql-bindings/ @vasubhog @Charles-Gagnon @lucyzhang929 @chlafreniere @MaddyDev
/extensions/sql-database-projects/ @Benjin @kisantia
/extensions/mssql/config.json @Charles-Gagnon @alanrenmsft @kburtram

/src/sql/*.d.ts @alanrenmsft @Charles-Gagnon
/src/sql/workbench/browser/modelComponents @Charles-Gagnon @alanrenmsft
/src/sql/workbench/api @Charles-Gagnon @alanrenmsft
/src/sql/**/notebook @azure-data-studio-notebook-devs

added buttons and initial drag plugin
  src/sql/base/browser/ui/table/plugins/rowMoveManager.plugin.ts
  src/sql/base/browser/ui/table/table.ts
  src/sql/workbench/browser/designer/designer.ts
Owners: none

Add confirmation dialog before closing app (#19139)
  src/sql/workbench/services/tableDesigner/browser/tableDesignerService.ts
Owners: none

Fixed restore UI, disabled url empty url browser dropdowns, fixed backup OK button
  src/sql/workbench/contrib/backup/browser/backup.component.ts
  src/sql/workbench/services/fileBrowser/browser/urlBrowserDialog.ts
  src/sql/workbench/services/fileBrowser/browser/urlBrowserDialogService.ts
  src/sql/workbench/services/restore/browser/restoreDialog.ts
  src/sql/workbench/services/restore/browser/restoreViewModel.ts
Owners: none

Merging from extensions/RC1 for release! (#19156)
  extensionsGallery.json
Owners: none

Cleanup references to ADS
  extensions/sql-bindings/README.md
Owners: @vasubhog, @Charles-Gagnon, @lucyzhang929, @chlafreniere, @MaddyDev

update schema compare version to 1.13.1
  extensionsGallery.json
Owners: none

update schema compare version to 1.13.1 (#19158)
  extensionsGallery.json
Owners: none

change style
  src/sql/workbench/services/tableDesigner/browser/tableDesignerService.ts
Owners: none

change style (#19159)
  src/sql/workbench/services/tableDesigner/browser/tableDesignerService.ts
Owners: none

Removed configure retention policy link. Log errors for upgrade instead of blocking the upgrade. Changed text of version log link.
  extensions/arc/src/localizedConstants.ts
  extensions/arc/src/ui/dashboards/controller/controllerUpgrades.ts
  extensions/azcli/src/az.ts
Owners: @Charles-Gagnon, @swells, @candiceye

Addressing comments on PR
  extensions/arc/src/localizedConstants.ts
  extensions/arc/src/ui/dashboards/controller/controllerUpgrades.ts
Owners: @Charles-Gagnon, @swells, @candiceye

Fix location dropdown not working properly
  extensions/sql-migration/src/api/utils.ts
  extensions/sql-migration/src/constants/strings.ts
  extensions/sql-migration/src/dialog/createSqlMigrationService/createSqlMigrationServiceDialog.ts
  extensions/sql-migration/src/dialog/selectMigrationService/selectMigrationServiceDialog.ts
  extensions/sql-migration/src/models/stateMachine.ts
  extensions/sql-migration/src/wizard/databaseBackupPage.ts
  extensions/sql-migration/src/wizard/integrationRuntimePage.ts
  extensions/sql-migration/src/wizard/targetSelectionPage.ts
Owners: none

Cleanup references to ADS (#19157)
  extensions/sql-bindings/README.md
Owners: @vasubhog, @Charles-Gagnon, @lucyzhang929, @chlafreniere, @MaddyDev

PR comments
  src/sql/workbench/contrib/notebook/browser/cellViews/textCell.component.ts
Owners: @azure-data-studio-notebook-devs

Clean up comments
  extensions/sql-migration/src/dialog/createSqlMigrationService/createSqlMigrationServiceDialog.ts
  extensions/sql-migration/src/dialog/selectMigrationService/selectMigrationServiceDialog.ts
  extensions/sql-migration/src/wizard/targetSelectionPage.ts
Owners: none

wip
  extensions/mssql/src/contracts.ts
  extensions/mssql/src/features.ts
Owners: none

Switch button order in selectMigrationServiceDialog
  extensions/sql-migration/src/api/utils.ts
  extensions/sql-migration/src/dialog/selectMigrationService/selectMigrationServiceDialog.ts
Owners: none

Bug fixes for DC upgrade in arc extension (#19161)
  extensions/arc/src/localizedConstants.ts
  extensions/arc/src/ui/dashboards/controller/controllerUpgrades.ts
  extensions/azcli/src/az.ts
Owners: @Charles-Gagnon, @swells, @candiceye

Convert Interactive notebook's kernel spec to a VS Code compatible kernel when saving.
  src/sql/workbench/api/common/notebooks/vscodeExecuteProvider.ts
Owners: @Charles-Gagnon, @alanrenmsft

Fix typings pipeline + cleanup
  build/azure-pipelines/publish-types/publish-types.yml
  src/sql/azdata.d.ts
Owners: @alanrenmsft, @Charles-Gagnon

Remove azdata extension
  extensionsGallery-insider.json
  extensionsGallery.json
Owners: none

Notebooks: Preventing "previousSibling of Null" Errors on Cell Selection (#19153)
  src/sql/workbench/contrib/notebook/browser/cellViews/textCell.component.ts
Owners: @azure-data-studio-notebook-devs

Eventing fixes, known bugs fixed
  src/sql/workbench/contrib/notebook/browser/cellToolbarActions.ts
  src/sql/workbench/contrib/notebook/browser/cellViews/code.component.ts
  src/sql/workbench/contrib/notebook/browser/cellViews/codeCell.component.ts
  src/sql/workbench/contrib/notebook/browser/cellViews/markdownToolbar.component.ts
  src/sql/workbench/contrib/notebook/browser/cellViews/textCell.component.html
  src/sql/workbench/contrib/notebook/browser/cellViews/textCell.component.ts
  src/sql/workbench/contrib/notebook/browser/find/notebookFindModel.ts
  src/sql/workbench/contrib/notebook/browser/markdownToolbarActions.ts
  src/sql/workbench/contrib/notebook/browser/notebookEditor.ts
  src/sql/workbench/contrib/notebook/test/browser/notebookEditor.test.ts
  src/sql/workbench/contrib/notebook/test/electron-browser/cell.test.ts
  src/sql/workbench/contrib/notebook/test/electron-browser/notebookFindModel.test.ts
  src/sql/workbench/services/notebook/browser/models/cell.ts
  src/sql/workbench/services/notebook/browser/models/modelInterfaces.ts
  src/sql/workbench/services/notebook/browser/models/notebookModel.ts
Owners: @azure-data-studio-notebook-devs

Remove unnecessary comment
  src/sql/workbench/services/notebook/browser/models/cell.ts
Owners: @azure-data-studio-notebook-devs

Adding ability to expand and columns tables
  src/sql/base/browser/ui/table/formatters.ts
  src/sql/base/browser/ui/table/media/table.css
  src/sql/base/browser/ui/table/table.ts
  src/sql/base/browser/ui/table/tableDataView.ts
  src/sql/workbench/contrib/executionPlan/browser/executionPlanPropertiesView.ts
Owners: none

bumped sts version
  extensions/mssql/config.json
Owners: @Charles-Gagnon, @alanrenmsft, @kburtram

bumped sts version
  extensions/mssql/config.json
Owners: @Charles-Gagnon, @alanrenmsft, @kburtram

Remove azdata extension (#19164)
  extensionsGallery-insider.json
  extensionsGallery.json
Owners: none

Fix config
  extensions/mssql/config.json
Owners: @Charles-Gagnon, @alanrenmsft, @kburtram

Bolding icons Fixing variable names
  src/sql/base/browser/ui/table/formatters.ts
  src/sql/base/browser/ui/table/table.ts
  src/sql/base/browser/ui/table/tableDataView.ts
Owners: none

Fix typings pipeline + cleanup (#19163)
  build/azure-pipelines/publish-types/publish-types.yml
  src/sql/azdata.d.ts
Owners: @alanrenmsft, @Charles-Gagnon

Create shared access signature RPC (#18823)
  .eslintrc.json
  extensions/mssql/config.json
  extensions/mssql/src/azureBlob/azureBlobService.ts
  extensions/mssql/src/constants.ts
  extensions/mssql/src/contracts.ts
  extensions/mssql/src/mssql.d.ts
  extensions/mssql/src/mssqlApiFactory.ts
  extensions/mssql/src/sqlToolsServer.ts
  extensions/sql-database-projects/src/test/testContext.ts
  src/sql/platform/azureBlob/common/azureBlobService.ts
  src/sql/workbench/api/browser/extensionHost.contribution.ts
  src/sql/workbench/api/browser/mainThreadAzureBlob.ts
  src/sql/workbench/api/common/extHostAzureBlob.ts
  src/sql/workbench/api/common/sqlExtHost.api.impl.ts
  src/sql/workbench/api/common/sqlExtHost.protocol.ts
  src/sql/workbench/services/azureBlob/browser/azureBlobService.ts
  src/typings/refs.d.ts
  src/vs/workbench/workbench.common.main.ts
  src/vs/workbench/workbench.desktop.main.ts
Owners: @Charles-Gagnon, @alanrenmsft, @kburtram, @Benjin, @kisantia

Adding helper function Making css more target
  src/sql/base/browser/ui/table/formatters.ts
  src/sql/base/browser/ui/table/media/table.css
Owners: none

Bump version to 1.36.1 for April hotfix.
  package.json
Owners: none

Update SQL Tools Service in release/1.36 for OE icon revert
  extensions/mssql/config.json
Owners: @Charles-Gagnon, @alanrenmsft, @kburtram

Remove 'v'
  extensions/mssql/config.json
Owners: @Charles-Gagnon, @alanrenmsft, @kburtram

Bump version to 1.36.1 for April hotfix. (#19172)
  package.json
Owners: none

Fix a comment.
  src/sql/workbench/api/common/notebooks/vscodeExecuteProvider.ts
Owners: @Charles-Gagnon, @alanrenmsft

Add SKU Recommendation 'input parameters' to telemetry
  extensions/sql-migration/src/models/stateMachine.ts
Owners: none

Rename some constants.
  src/sql/workbench/api/common/notebooks/notebookUtils.ts
  src/sql/workbench/api/common/notebooks/vscodeExecuteProvider.ts
  src/sql/workbench/contrib/notebook/browser/models/notebookInput.ts
  src/sql/workbench/services/notebook/browser/models/notebookModel.ts
Owners: @Charles-Gagnon, @alanrenmsft, @azure-data-studio-notebook-devs
