Repository microsoft/azuredatastudio, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Charles-Gagnon, @swells, @candiceye, @kisantia, @azure-data-studio-notebook-devs, @vasubhog, @lucyzhang929, @chlafreniere, @MaddyDev, @Benjin, @alanrenmsft, @kburtram

Update SQL Tools Service in release/1.36 for OE icon revert (#19173)
  extensions/mssql/config.json
Owners: @Charles-Gagnon, @alanrenmsft, @kburtram

increase nps survey probability
  src/vs/workbench/contrib/surveys/browser/nps.contribution.ts
Owners: none

wip
  src/sql/platform/capabilities/common/capabilitiesService.ts
  src/sql/workbench/contrib/connection/common/connectionProviderExtension.ts
  src/sql/workbench/services/connection/browser/media/connectionDialog.css
Owners: none

increase nps survey probability (#19175)
  src/vs/workbench/contrib/surveys/browser/nps.contribution.ts
Owners: none

Use a constants instead of a literal.
  src/sql/workbench/api/common/notebooks/vscodeExecuteProvider.ts
Owners: @Charles-Gagnon, @alanrenmsft

increase nps survey probability (#19175)
  src/vs/workbench/contrib/surveys/browser/nps.contribution.ts
Owners: none

increase nps survey probability (#19175) (#19177)
  src/vs/workbench/contrib/surveys/browser/nps.contribution.ts
Owners: none

Fixing zoomed badges
  package.json
  remote/package.json
  remote/web/package.json
  remote/web/yarn.lock
  remote/yarn.lock
  src/sql/workbench/contrib/executionPlan/browser/azdataGraphView.ts
  yarn.lock
Owners: none

Vbump to 1.0.1
  extensions/sql-migration/package.json
  extensions/sql-migration/src/api/utils.ts
  extensions/sql-migration/src/constants/strings.ts
  extensions/sql-migration/src/dialog/selectMigrationService/selectMigrationServiceDialog.ts
  extensions/sql-migration/src/wizard/targetSelectionPage.ts
Owners: none

Update changelog for 1.36.1 hotfix
  CHANGELOG.md
Owners: none

Remove links for 1.36.0 entry
  CHANGELOG.md
Owners: none

initial drag and drop working
  src/sql/base/browser/ui/table/plugins/rowMoveManager.plugin.ts
  src/sql/base/browser/ui/table/plugins/tableColumn.ts
  src/sql/workbench/api/common/sqlExtHostTypes.ts
  src/sql/workbench/browser/designer/designer.ts
  src/sql/workbench/browser/designer/media/designer.css
Owners: @Charles-Gagnon, @alanrenmsft

Refactor to avoid duplicate API calls
  extensions/sql-migration/src/api/utils.ts
  extensions/sql-migration/src/dialog/selectMigrationService/selectMigrationServiceDialog.ts
  extensions/sql-migration/src/wizard/databaseBackupPage.ts
  extensions/sql-migration/src/wizard/integrationRuntimePage.ts
  extensions/sql-migration/src/wizard/targetSelectionPage.ts
Owners: none

update create azure function with sql binding when no folder is opened
  extensions/sql-bindings/src/common/azureFunctionsUtils.ts
  extensions/sql-bindings/src/services/azureFunctionsService.ts
Owners: @vasubhog, @Charles-Gagnon, @lucyzhang929, @chlafreniere, @MaddyDev

Fix build issues related to merge
  extensions/azurecore/src/azureResource/providers/cosmosdb/mongo/cosmosDbMongoProvider.ts
  extensions/azurecore/src/azureResource/providers/cosmosdb/mongo/cosmosDbMongoService.ts
  extensions/azurecore/src/azureResource/providers/cosmosdb/mongo/cosmosDbMongoTreeDataProvider.ts
  extensions/azurecore/src/azurecore.d.ts
Owners: none

Juno: check in to lego/hb_04604851-bac4-4681-9f74-73de611d6e48_20220422155057574.
  resources/localization/LCL/de/arc.xlf.lcl
  resources/localization/LCL/de/azcli.xlf.lcl
  resources/localization/LCL/de/sql-database-projects.xlf.lcl
  resources/localization/LCL/de/sql.xlf.lcl
  resources/localization/LCL/es/arc.xlf.lcl
  resources/localization/LCL/es/azcli.xlf.lcl
  resources/localization/LCL/es/sql-database-projects.xlf.lcl
  resources/localization/LCL/es/sql.xlf.lcl
  resources/localization/LCL/fr/arc.xlf.lcl
  resources/localization/LCL/fr/azcli.xlf.lcl
  resources/localization/LCL/fr/sql-database-projects.xlf.lcl
  resources/localization/LCL/fr/sql.xlf.lcl
  resources/localization/LCL/it/arc.xlf.lcl
  resources/localization/LCL/it/azcli.xlf.lcl
  resources/localization/LCL/it/sql-database-projects.xlf.lcl
  resources/localization/LCL/it/sql.xlf.lcl
  resources/localization/LCL/ja/arc.xlf.lcl
  resources/localization/LCL/ja/azcli.xlf.lcl
  resources/localization/LCL/ja/sql-database-projects.xlf.lcl
  resources/localization/LCL/ja/sql.xlf.lcl
  resources/localization/LCL/ko/arc.xlf.lcl
  resources/localization/LCL/ko/azcli.xlf.lcl
  resources/localization/LCL/ko/sql-database-projects.xlf.lcl
  resources/localization/LCL/ko/sql.xlf.lcl
  resources/localization/LCL/pt-BR/arc.xlf.lcl
  resources/localization/LCL/pt-BR/azcli.xlf.lcl
  resources/localization/LCL/pt-BR/sql-database-projects.xlf.lcl
  resources/localization/LCL/pt-BR/sql.xlf.lcl
  resources/localization/LCL/ru/arc.xlf.lcl
  resources/localization/LCL/ru/azcli.xlf.lcl
  resources/localization/LCL/ru/sql-database-projects.xlf.lcl
  resources/localization/LCL/ru/sql.xlf.lcl
  resources/localization/LCL/zh-Hans/arc.xlf.lcl
  resources/localization/LCL/zh-Hans/azcli.xlf.lcl
  resources/localization/LCL/zh-Hans/sql-database-projects.xlf.lcl
  resources/localization/LCL/zh-Hans/sql.xlf.lcl
  resources/localization/LCL/zh-Hant/arc.xlf.lcl
  resources/localization/LCL/zh-Hant/azcli.xlf.lcl
  resources/localization/LCL/zh-Hant/sql-database-projects.xlf.lcl
  resources/localization/LCL/zh-Hant/sql.xlf.lcl
Owners: none

Juno: check in to lego/hb_04604851-bac4-4681-9f74-73de611d6e48_20220422155057574. (#19183)
  resources/localization/LCL/de/arc.xlf.lcl
  resources/localization/LCL/de/azcli.xlf.lcl
  resources/localization/LCL/de/sql-database-projects.xlf.lcl
  resources/localization/LCL/de/sql.xlf.lcl
  resources/localization/LCL/es/arc.xlf.lcl
  resources/localization/LCL/es/azcli.xlf.lcl
  resources/localization/LCL/es/sql-database-projects.xlf.lcl
  resources/localization/LCL/es/sql.xlf.lcl
  resources/localization/LCL/fr/arc.xlf.lcl
  resources/localization/LCL/fr/azcli.xlf.lcl
  resources/localization/LCL/fr/sql-database-projects.xlf.lcl
  resources/localization/LCL/fr/sql.xlf.lcl
  resources/localization/LCL/it/arc.xlf.lcl
  resources/localization/LCL/it/azcli.xlf.lcl
  resources/localization/LCL/it/sql-database-projects.xlf.lcl
  resources/localization/LCL/it/sql.xlf.lcl
  resources/localization/LCL/ja/arc.xlf.lcl
  resources/localization/LCL/ja/azcli.xlf.lcl
  resources/localization/LCL/ja/sql-database-projects.xlf.lcl
  resources/localization/LCL/ja/sql.xlf.lcl
  resources/localization/LCL/ko/arc.xlf.lcl
  resources/localization/LCL/ko/azcli.xlf.lcl
  resources/localization/LCL/ko/sql-database-projects.xlf.lcl
  resources/localization/LCL/ko/sql.xlf.lcl
  resources/localization/LCL/pt-BR/arc.xlf.lcl
  resources/localization/LCL/pt-BR/azcli.xlf.lcl
  resources/localization/LCL/pt-BR/sql-database-projects.xlf.lcl
  resources/localization/LCL/pt-BR/sql.xlf.lcl
  resources/localization/LCL/ru/arc.xlf.lcl
  resources/localization/LCL/ru/azcli.xlf.lcl
  resources/localization/LCL/ru/sql-database-projects.xlf.lcl
  resources/localization/LCL/ru/sql.xlf.lcl
  resources/localization/LCL/zh-Hans/arc.xlf.lcl
  resources/localization/LCL/zh-Hans/azcli.xlf.lcl
  resources/localization/LCL/zh-Hans/sql-database-projects.xlf.lcl
  resources/localization/LCL/zh-Hans/sql.xlf.lcl
  resources/localization/LCL/zh-Hant/arc.xlf.lcl
  resources/localization/LCL/zh-Hant/azcli.xlf.lcl
  resources/localization/LCL/zh-Hant/sql-database-projects.xlf.lcl
  resources/localization/LCL/zh-Hant/sql.xlf.lcl
Owners: none

[Loc] update to arc and sql xlfs
  resources/xlf/en/arc.xlf
  resources/xlf/en/sql.xlf
Owners: none

[Loc] update to arc and sql xlfs (#19184)
  resources/xlf/en/arc.xlf
  resources/xlf/en/sql.xlf
Owners: none

Update changelog for 1.36.1 hotfix (#19179)
  CHANGELOG.md
Owners: none

Move kernel metadata conversion code to common utitlity methods and add documentation for them.
  src/sql/workbench/api/common/notebooks/notebookUtils.ts
  src/sql/workbench/api/common/notebooks/vscodeExecuteProvider.ts
  src/sql/workbench/contrib/notebook/browser/models/notebookInput.ts
Owners: @Charles-Gagnon, @alanrenmsft, @azure-data-studio-notebook-devs

Add unit tests for new methods.
  src/sql/workbench/api/common/notebooks/notebookUtils.ts
  src/sql/workbench/contrib/notebook/browser/models/notebookInput.ts
  src/sql/workbench/test/electron-browser/api/vscodeNotebookApi.test.ts
Owners: @Charles-Gagnon, @alanrenmsft, @azure-data-studio-notebook-devs

Fixing zoomed badges (#19178)
  package.json
  remote/package.json
  remote/web/package.json
  remote/web/yarn.lock
  remote/yarn.lock
  src/sql/workbench/contrib/executionPlan/browser/azdataGraphView.ts
  yarn.lock
Owners: none

corner case exit browse file
  extensions/sql-bindings/src/common/azureFunctionsUtils.ts
  extensions/sql-bindings/src/services/azureFunctionsService.ts
Owners: @vasubhog, @Charles-Gagnon, @lucyzhang929, @chlafreniere, @MaddyDev

add version since targetFramework is set to specific core tools version
  extensions/sql-bindings/src/services/azureFunctionsService.ts
Owners: @vasubhog, @Charles-Gagnon, @lucyzhang929, @chlafreniere, @MaddyDev

send telemetry for generate project from OpenApi spec
  extensions/sql-database-projects/src/common/telemetry.ts
  extensions/sql-database-projects/src/controllers/projectController.ts
Owners: @Benjin, @kisantia

Add check for undefined language.
  src/sql/workbench/api/common/notebooks/notebookUtils.ts
Owners: @Charles-Gagnon, @alanrenmsft

Add error test cases
  src/sql/workbench/test/electron-browser/api/vscodeNotebookApi.test.ts
Owners: none

addressed PR comments
  extensions/sql-database-projects/src/common/constants.ts
  extensions/sql-database-projects/src/controllers/projectController.ts
  extensions/sql-database-projects/src/models/deploy/deployService.ts
Owners: @Benjin, @kisantia

Fix create project from db not loading dbs when disconnected (#19129)
  extensions/sql-database-projects/src/dialogs/createProjectFromDatabaseDialog.ts
  extensions/sql-database-projects/src/test/dialogs/createProjectFromDatabaseDialog.test.ts
Owners: @Benjin, @kisantia

updating to v1.37.0 now that 1.36 is published
  package.json
Owners: none

updating to v1.37.0 now that 1.36 is published (#19190)
  package.json
Owners: none

Convert .NET Interactive notebook's kernel spec to a VS Code compatible kernel when saving. (#19176)
  src/sql/workbench/api/common/notebooks/notebookUtils.ts
  src/sql/workbench/api/common/notebooks/vscodeExecuteProvider.ts
  src/sql/workbench/contrib/notebook/browser/models/notebookInput.ts
  src/sql/workbench/services/notebook/browser/models/notebookModel.ts
  src/sql/workbench/test/electron-browser/api/vscodeNotebookApi.test.ts
Owners: @Charles-Gagnon, @alanrenmsft, @azure-data-studio-notebook-devs

Resolves cannot read property 'accessToken' of undefined.
  extensions/azurecore/src/account-provider/auths/azureAuth.ts
Owners: none

Add null checks
  extensions/sql-migration/src/api/utils.ts
  extensions/sql-migration/src/constants/strings.ts
  extensions/sql-migration/src/dialog/createSqlMigrationService/createSqlMigrationServiceDialog.ts
  extensions/sql-migration/src/dialog/selectMigrationService/selectMigrationServiceDialog.ts
  extensions/sql-migration/src/models/stateMachine.ts
  extensions/sql-migration/src/wizard/databaseBackupPage.ts
  extensions/sql-migration/src/wizard/integrationRuntimePage.ts
  extensions/sql-migration/src/wizard/targetSelectionPage.ts
Owners: none

WIP
  extensions/mssql/package.json
  src/sql/azdata.proposed.d.ts
  src/sql/platform/capabilities/common/capabilitiesService.ts
  src/sql/platform/capabilities/common/capabilitiesServiceImpl.ts
  src/sql/workbench/contrib/connection/common/connectionProviderExtension.ts
  src/sql/workbench/services/connection/browser/connectionWidget.ts
  src/sql/workbench/services/connection/browser/media/connectionDialog.css
Owners: @alanrenmsft, @Charles-Gagnon

remove the preview feature flag check
  src/sql/workbench/contrib/query/browser/gridPanel.ts
Owners: none

update telemetry and address comments
  extensions/sql-bindings/src/common/telemetry.ts
  extensions/sql-bindings/src/services/azureFunctionsService.ts
Owners: @vasubhog, @Charles-Gagnon, @lucyzhang929, @chlafreniere, @MaddyDev

Adding ability to style cells in slickgrid
  src/sql/base/browser/ui/table/formatters.ts
  src/sql/workbench/contrib/executionPlan/browser/executionPlanPropertiesView.ts
Owners: none

remove the preview feature flag check (#19194)
  src/sql/workbench/contrib/query/browser/gridPanel.ts
Owners: none

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Syntax can be found here: https://docs.github.com/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

/extensions/admin-tool-ext-win @Charles-Gagnon
/extensions/arc/ @Charles-Gagnon @swells @candiceye
/extensions/azcli/ @Charles-Gagnon @swells @candiceye
/extensions/big-data-cluster/ @Charles-Gagnon
/extensions/dacpac/ @kisantia
/extensions/notebook @azure-data-studio-notebook-devs
/extensions/query-history/ @Charles-Gagnon
/extensions/resource-deployment/ @Charles-Gagnon
/extensions/schema-compare/ @kisantia
/extensions/sql-bindings/ @vasubhog @Charles-Gagnon @lucyzhang929 @chlafreniere @MaddyDev
/extensions/sql-database-projects/ @Benjin @kisantia
/extensions/mssql/config.json @Charles-Gagnon @alanrenmsft @kburtram

/src/sql/*.d.ts @alanrenmsft @Charles-Gagnon
/src/sql/workbench/browser/modelComponents @Charles-Gagnon @alanrenmsft
/src/sql/workbench/api @Charles-Gagnon @alanrenmsft
/src/sql/**/notebook @azure-data-studio-notebook-devs
